:root {
    --main-color: rgb(170, 73, 170);
    --main-backgroundColor: rgb(43, 41, 41);
    --secondary-color: rgb(209, 209, 209);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

#content {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    color: white;
    outline: 2px solid black;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

#gameboard {
    height: 500px;
    width: 500px;
    display: grid;
    justify-content: center;
    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2px;
}

.square {
    border: 3px solid black;
    text-align: center;
    cursor: pointer;
    background-color: white;
}

.square.x {
    cursor: not-allowed;
    background-image: url(/sun.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
}

.square.o {
    cursor: not-allowed;
    background-image: url(/moon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
}

img {
    border: 3px solid white;
    border-radius: 100px;
    padding: 5px;
    width: 150px;
  }

.teamInput {
    
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

#teamSun,#teamMoon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#teamSun {
 grid-area: auto;
}

#teamMoon {
    grid-area: auto;
}

.sunVictory {
    margin: 10px;
    color: #fc466b;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    padding: 10px;
    padding-top: 5px;
    text-transform: uppercase;
}

.moonVictory {
    margin: 5px;
    color: #3f5efb;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    padding: 10px;
    padding-top: 5px;
    text-transform: uppercase;
}

.noVictory {
    margin: 5px;
    color: yellow;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    padding: 10px;
    padding-top: 5px;
    text-transform: uppercase;
}

#topContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    align-content: center;
}

h1 {
    text-align: center;
    padding-top: 10px;
}

#restartButton {
    background-color: white;
    color: black;
    border: 3px solid black;
    border-radius: 4px;
    font-size: medium;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
}

#restartButton:hover {
    background-color: lightgrey;
}

#turnDisplay {
    margin: 5px;
    border: 2px dashed lightgrey;
    padding: 5px;
    font-weight: bold;
}